:root {
	--app-height: 100vh;
}

html,
body {
	padding: 0;
	margin: 0;
	background: #a71c20 url('/assets/bg-medium.jpg');
	background-size: 100% auto;
	color: #fff;
	font-size: 16px;
	font-family: bodoni-urw, serif;
	overflow-x: hidden;

	@include sm {
		background: #a71c20 url('/assets/bg-large.jpg');
	}
}

a {
	color: inherit;
	text-decoration: none;
	@include desktop {
		transition: text-shadow 0.25s;
		&:hover {
			color: #fff;
			text-shadow: 0 0 4px #ffba00;
		}
	}
}

* {
	box-sizing: border-box;
}
